<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <!-- begin panel -->
    <div class="panel panel-inverse" data-sortable-id="form-stuff-2" style="border-color: #242a30">
      <div class="panel-heading">
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
            class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
            class="fa fa-repeat"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i
            class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i
            class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title">Add Chits</h4>
      </div>
      <div class="panel-body">
        <div class="row col-lg-12">
          <div class="col-lg-1">
          </div>
          <div class="col-lg-5">
            <select class="form-control input-sm">
              <option value="">Select Center / Individual</option>
              <option value="PA">Pennsylvania</option>
              <option value="CT">Connecticut</option>
              <option value="NY">New York</option>
              <option value="MD">Maryland</option>
              <option value="VA">Virginia</option>
            </select>
          </div>

        </div>
        <div class="row" style="height: 50px;">

        </div>
        <div class="row col-lg-12">
          <div class="col-lg-1">
          </div>
          <div class="col-lg-3">
            <div class=" input-group">
              <span class="input-group-addon" id="contactNo"></span>
              <input class="form-control input-sm" type="text" placeholder="Number"/>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="input-group">
              <span class="input-group-addon" id="firstName"></span>
              <input class="form-control input-sm" type="text" placeholder="Investment"/>
            </div>
          </div>
          <div class="col-lg-2">
            <div class=" input-group">
              <label>
                <input type="checkbox"/> Win or Not<br/>
              </label>
            </div>
          </div>
          <div class="col-lg-2 ">
            <div class="input-group">
              <span class="input-group-addon" id="firstName"></span>
              <input class="form-control input-sm" type="text" placeholder="Amount"/>
            </div>
          </div>
          <div class="col-lg-1 pull-right">
            <button class="btn-info btn-sm">Add</button>
          </div>
        </div>
        <div style="height: 50px;">
        </div>
        <div class="row col-lg-12">
          <div class="col-lg-1"></div>
          <div class="col-lg-11 pull-right">
            <table class="table table-condensed">
              <thead>
              <tr>
                <th>Number</th>
                <th>Investment</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>2015-12-31</td>
                <td>600</td>
                <td>50.00</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>2015-12-31</td>
                <td>600</td>
                <td>50.00</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>2015-12-31</td>
                <td>600</td>
                <td>50.00</td>
                <td></td>
                <td></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-1"></div>
        </div>
        <div style="height: 50px;">
        </div>
        <div class="row col-lg-12">
          <div class="col-lg-1">
          </div>
          <div class="col-lg-1">
            <div class=" input-group">
              A/C :
            </div>
          </div>
          <div class="col-lg-3">
            <div class=" input-group">
              <span class="input-group-addon" id="contactNo"></span>
              <input class="form-control input-sm" type="text" placeholder="Number"/>
            </div>
          </div>
        </div>
        <div style="height: 50px;">
        </div>
        <div class="row col-lg-12">
          <div class="col-lg-1"></div>
          <div class="col-lg-11 pull-right">
            <table class="table table-condensed">
              <thead>
              <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Investment</th>
                <th>Payment</th>
                <th>Remarks</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>1</td>
                <td>S.A.P</td>
                <td>50.00</td>
                <td>200</td>
                <td>cash</td>
              </tr>
              <tr>
                <td>2</td>
                <td>S.A.P</td>
                <td>50.00</td>
                <td>1200</td>
                <td>cash</td>
              </tr>
              <tr>
                <td>3</td>
                <td>S.A.P</td>
                <td>50.00</td>
                <td>1500</td>
                <td>cash</td>
              </tr>
              <tr>
                <td></td>
                <td style="text-align: center;font-weight: bold;"><p>Total</p></td>
                <td style="text-align: center">50.00</td>
                <td style="text-align: center">1500</td>
                <td>  </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-1"></div>
        </div>

      </div>
    </div>
    <!-- end panel -->
  </div>
  <div class="col-lg-2"></div>
</div>
