<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <!-- begin panel -->
    <div class="panel panel-inverse" data-sortable-id="form-stuff-2" style="border-color: #242a30">
      <div class="panel-heading">
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
            class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
            class="fa fa-repeat"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i
            class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i
            class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title">Add Company Expenses</h4>
      </div>
      <div class="panel-body">
        <div class="row col-lg-12">
          <div class="col-lg-1">
          </div>
          <div class="col-lg-3 ">
            <div class=" input-group">
              <span class="input-group-addon" id="contactNo"></span>
              <input class="form-control input-sm" type="text" placeholder="Contact Number"/>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="input-group">
              <span class="input-group-addon" id="firstName"></span>
              <input class="form-control input-sm" type="text" placeholder="First Name"/>
            </div>
          </div>
          <div class="col-lg-3">
            <div class=" input-group">
              <span class="input-group-addon" id="lastName"></span>
              <input class="form-control input-sm" type="text" placeholder="Last Name"/>
            </div>
          </div>
          <div class="col-lg-1">
          </div>
          <div class="col-lg-1 pull-right">
            <button class="btn-info btn-sm">Add</button>
          </div>
        </div>
        <div style="height: 50px;">
        </div>
        <div class="row col-lg-12">
          <div class="col-lg-1">
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-3" style="text-align: left;font-weight: bold;vertical-align: middle">
                From
              </div>
              <div class="col-lg-9 input-group">
                <span class="input-group-addon" id="name"></span>
                <input class="form-control input-sm" type="text" placeholder="Click to get Date"/>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-3" style="text-align: right;font-weight: bold;vertical-align: middle">
                To
              </div>
              <div class="col-lg-9 input-group">
                <span class="input-group-addon" id="name"></span>
                <input class="form-control input-sm" type="text" placeholder="Click to get Date"/>
              </div>
            </div>
          </div>
          <div class="col-lg-1">
          </div>
          <div class="col-lg-2 pull-right">
            <div class="row">
              <button id="reviewBtn" data-toggle="tooltip"
                      title="Review all the filled data before saving the document."
                      class="btn btn-info">Save
              </button>
              <button  id="saveBtn" data-toggle="tooltip" title="Save data without reviewing data at your own risk."
                      class="btn btn-primary">Print&nbsp&nbsp
              </button>
            </div>
          </div>

        </div>
        <div style="height: 50px;">
        </div>

        <div class="row col-lg-12">

          <div class="col-lg-1"></div>
          <div class="col-lg-11 pull-right" >
            <table class="table table-condensed">
              <thead>
              <tr>
                <th>Date / Time</th>
                <th>Amount</th>
                <th>Investment</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>2015-12-31</td>
                <td>50.00</td>
                <td>600</td>
              </tr>
              <tr>
                <td>2015-12-31</td>
                <td>50.00</td>
                <td>600</td>
              </tr>
              <tr>
                <td>2015-12-31</td>
                <td>50.00</td>
                <td>600</td>
              </tr>
              <!-- this one is important...-->
              <tr>
                <td style="text-align: right;font-weight: bold;"><p style="font-size: large">Total</p></td>
                <td style="text-align: center">300</td>
                <td style="text-align: center">600</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-1"></div>
        </div>

      </div>
    </div>
    <!-- end panel -->
  </div>
  <div class="col-lg-2"></div>
</div>
