<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <!-- begin panel -->
    <div class="panel panel-inverse" data-sortable-id="form-stuff-2" style="border-color: #242a30">
      <div class="panel-heading">
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title">Add Privilege</h4>
      </div>
      <div class="panel-body">
        <div class="row">

          <div class="col-lg-1" >
          </div>
          <div class="col-lg-4 ">
            <select class="form-control input-sm">
              <option value="">Select User</option>
              <option value="PA">Pennsylvania</option>
              <option value="CT">Connecticut</option>
              <option value="NY">New York</option>
              <option value="MD">Maryland</option>
              <option value="VA">Virginia</option>
            </select>
          </div>
          <div class="col-lg-4">
            <select class="form-control input-sm">
              <option value="">Select Privilege</option>
              <option value="PA">Pennsylvania</option>
              <option value="CT">Connecticut</option>
              <option value="NY">New York</option>
              <option value="MD">Maryland</option>
              <option value="VA">Virginia</option>
            </select>
          </div>
          <div class="col-lg-2">
            <button class="btn btn-info btn-sm">Add</button>
          </div>
        </div>

      </div>
    </div>
    <!-- end panel -->
  </div>
  <div class="col-lg-2"></div>
</div>
