<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <!-- begin panel -->
    <div class="panel panel-inverse" data-sortable-id="form-stuff-2" style="border-color: #242a30">
      <div class="panel-heading">
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
            class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
            class="fa fa-repeat"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i
            class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i
            class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title">Check Work History</h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-1">
          </div>
          <div class="col-lg-5">
            <div class=" input-group">
              <span class="input-group-addon" id="nic"></span>
              <input class="form-control input-sm" type="text" placeholder="NIC"/>
            </div>
          </div>
          <div class="col-lg-5">
              <select class="form-control input-sm">
                <option value="">Select User</option>
                <option value="PA">Pennsylvania</option>
                <option value="CT">Connecticut</option>
                <option value="NY">New York</option>
                <option value="MD">Maryland</option>
                <option value="VA">Virginia</option>
              </select>
          </div>
          <div class="col-lg-1">
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <table class="table table-condensed">
              <thead>
              <tr>
                <th>User </th>
                <th>Action</th>
                <th>Time</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>User 1</td>
                <td>Action 1</td>
                <td>03.30 PM</td>
              </tr>
              <tr>
                <td>User 2</td>
                <td>Action 2</td>
                <td>03.30 PM</td>
              </tr>
              <tr>
                <td>User 3</td>
                <td>Action 2</td>
                <td>03.30 PM</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-1"></div>
        </div>

      </div>
    </div>
    <!-- end panel -->
  </div>
  <div class="col-lg-3"></div>
</div>
