<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <!-- begin panel -->
    <div class="panel panel-inverse" data-sortable-id="form-stuff-2" style="border-color: #242a30">
      <div class="panel-heading">
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
            class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
            class="fa fa-repeat"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i
            class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i
            class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title">Check Reports</h4>
      </div>
      <div class="panel-body">

        <div class="row">
          <div class="col-lg-1">
          </div>
          <div class="col-lg-3">
            <select class="form-control input-sm">
              <option value="">Select Center</option>
              <option value="PA">Pennsylvania</option>
              <option value="CT">Connecticut</option>
              <option value="NY">New York</option>
              <option value="MD">Maryland</option>
              <option value="VA">Virginia</option>
            </select>
          </div>
          <div class="col-lg-4">
            <select class="form-control input-sm">
              <option value="">Select Name by individual</option>
              <option value="PA">Pennsylvania</option>
              <option value="CT">Connecticut</option>
              <option value="NY">New York</option>
              <option value="MD">Maryland</option>
              <option value="VA">Virginia</option>
            </select>
          </div>
          <div class="col-lg-3">
            <input class="form-control input-sm" type="text" placeholder="Search..."/>
          </div>
          <div class="col-lg-1">
          </div>
        </div>
        <br>

        <div class="row">

          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <table class="table table-condensed">
              <thead>
              <tr>
                <th>Center Name</th>
                <th>Center Individual</th>
                <th>Location</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Ban</td>
                <td>Bandaragama</td>
                <td>kalutara</td>
                <td>
                  <button class="btn-info btn-xs">Edit</button>
                </td>
              </tr>
              <tr>
                <td>Ban</td>
                <td>Bandaragama</td>
                <td>kalutara</td>
                <td>
                  <button class="btn-info btn-xs">Edit</button>
                </td>
              </tr>
              <tr>
                <td>Ban</td>
                <td>Bandaragama</td>
                <td>kalutara</td>
                <td>
                  <button class="btn-info btn-xs">Edit</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-1"></div>
        </div>
        <div class="col-md-offset-10" >
          <button id="reviewBtn" data-toggle="tooltip" title="Review all the filled data before saving the document."
                  class="btn btn-info" >Save
          </button>
          <button id="saveBtn" data-toggle="tooltip" title="Save data without reviewing data at your own risk."
                  class="btn btn-primary" >Print
          </button>
        </div>

      </div>
    </div>
    <!-- end panel -->
  </div>
  <div class="col-lg-2"></div>
</div>
