<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8">
    <!-- begin panel -->
    <div class="panel panel-inverse" data-sortable-id="form-stuff-2" style="border-color: #242a30">
      <div class="panel-heading">
        <div class="panel-heading-btn">
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i
            class="fa fa-expand"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i
            class="fa fa-repeat"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i
            class="fa fa-minus"></i></a>
          <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i
            class="fa fa-times"></i></a>
        </div>
        <h4 class="panel-title">Update / Block User</h4>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-1">
          </div>
          <div class="col-lg-5 ">
            <div class=" input-group">
              <span class="input-group-addon" id="name"></span>
              <input class="form-control input-sm" type="text" placeholder="User Name"/>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="input-group">
              <span class="input-group-addon" id="nic"></span>
              <input class="form-control input-sm" type="text" placeholder="NIC"/>
            </div>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-lg-1">
          </div>
          <div class="col-lg-2 ">
            <div class=" input-group">
              <span class="input-group-addon" id="contactNo"></span>
              <input class="form-control input-sm" type="text" placeholder="Contact Number"/>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="input-group">
              <span class="input-group-addon" id="firstName"></span>
              <input class="form-control input-sm" type="text" placeholder="First Name"/>
            </div>
          </div>
          <div class="col-lg-4">
            <div class=" input-group">
              <span class="input-group-addon" id="lastName"></span>
              <input class="form-control input-sm" type="text" placeholder="Last Name"/>
            </div>
          </div>
        </div>
        <br>
        <div class="row">

          <div class="col-lg-1"></div>
          <div class="col-lg-10">
            <table class="table table-condensed">
              <thead>
              <tr>
                <th>User Name</th>
                <th>NIC</th>
                <th>Contact Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Nicky Almera</td>
                <td>9451201210V</td>
                <td>0345556214</td>
                <td>Nicky </td>
                <td>Almera</td>
                <td><button class="btn-info btn-xs">Upload</button><button class="btn-danger btn-xs">Remove</button></td>
              </tr>
              <tr>
                <td>Nicky Almera</td>
                <td>9451201210V</td>
                <td>0345556214</td>
                <td>Nicky </td>
                <td>Almera</td>
                <td><button class="btn-info btn-xs">Upload</button><button class="btn-danger btn-xs">Remove</button></td>
              </tr>
              <tr>
                <td>Nicky Almera</td>
                <td>9451201210V</td>
                <td>0345556214</td>
                <td>Nicky </td>
                <td>Almera</td>
                <td><button class="btn-info btn-xs">Upload</button><button class="btn-danger btn-xs">Remove</button></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-1"></div>
        </div>

      </div>
    </div>
    <!-- end panel -->
  </div>
  <div class="col-lg-2"></div>
</div>
